/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-procyon-thought-bubble,
.thought-bubble {
	@media screen and (max-width: 820px) {
		width: initial;
		right: 0;
		left: 0;
		gap: 10px;
		img {
			margin: 10px;
			float: left;
		}
		.wp-block-button__link.wp-element-button,
		p {
			margin-bottom: 0;
		}
	}
	display: none; // use js to read the cookie before showing
	gap: 10px;
	justify-content: space-between;
	position: fixed;
	right: 8px;
	background: #efefef;

	bottom: 8px;
	z-index: 2;
	padding: 20px;

	img {
		width: 150px;
		height: 150px;
		object-fit: cover;
		margin: 10px;
		float: left;
	}

	p {
		margin: 0;
	}

	.wp-block-button__link.wp-element-button {
		white-space: nowrap;
		margin: 0;
	}
	.thought-bubble-close {
		color: inherit;
		position: absolute;
		top: 4px;
		right: 4px;
		background: none;
		border: none;
		font-size: 1rem;
		cursor: pointer;
	}
	.thought-bubble-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 10px;
		flex-grow: 1;
	}
}
